
body {
	background: #f0f0f0;
}

#container {
	width: 900px;
	margin: 30px auto;
	border: solid 1px #c0c0c0;
	background: #fff;
	padding: 40px;
}

input {
	padding: 8px;
}

#document {
	width: 100%;
	height: 800px;
}

.editor .caret {
	width: 1px;
	height: 0.9em;
	background: #000;
	line-height: 0;
	margin-left: -1px;
	-webkit-transform: translateX(1px);
	display: inline-block;
	-webkit-animation: blink 0.8s infinite;
}

.editor {
	overflow: auto;
}

@-webkit-keyframes blink /* Safari and Chrome */
{
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}